@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,900');

html, body{/*style de la page*/
    margin: 0; padding: 0;
    background-color: #cee8f7;
    font-family: 'Lato';
    
}

/*################################################################################*/
/*page*/

.title{
	display:flex;
	text-decoration: none;
    color:#699bf7;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
}

.music-container {
	display: flex;
	margin: 0px;

  overflow: scroll;
  -ms-overflow-style:none;
  overflow-x: auto;
}

.music-container a {
	max-height:200px;
	max-width:200px;
	margin-right: 2%;
	border-radius:5%; 

	/*flex-direction: column;
  flex-wrap: wrap;*/
}

.music-container img {
	max-height:200px;
	max-width:200px;
	margin-right: 2%;
	border-radius:5%; 

	/*flex-direction: column;
  flex-wrap: wrap;*/
}




/*################################################################################"*/
/*telephone*/
@media screen and (max-width: 780px) {
	header {
		flex-direction:column;
	}
}

/*################################################################################"*/
/*scrollbar*/
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

*::-moz-scrollbar {
  width: 0px;
  background-color: transparent;
}

body::-webkit-scrollbar{
  display: none;
}

/*.music-container::-webkit-scrollbar{width: 0!important;}*/

